/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-blocks-course-text-editor {
	color: #fff;
	padding: 2px;

	&.text-editor-left {
		text-align: left;
	}

	&.text-editor-center {
		text-align: center;
	}

	&.text-editor-right {
		text-align: right;
	}
}
